<a href="https://colab.research.google.com/github/ybressler/easy-learning/blob/master/Json_to_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Converting Json to df formats:
```
Problem Posed:

Anyone have any experience parsing a column of a dataframe that is in a json format.  I ideally want to make every key into it's own column and then the value into the value for that row for the key.  Everything I'm finding online is about parsing a json file but this is just a dataframe with a column in json format.
```

## Sample solution:

In [1]:
import pandas as pd

dict_use = dict([('Col_'+str(i), {'a':i,'b':i*2,'c': str(i)*i}) for i in range(1,5)])

dict_use
# Print out should read:
# {Col_1: {'a': 1, 'b': 2, 'c': '1'},
# Col_2: {'a': 2, 'b': 4, 'c': '22'},
# Col_3: {'a': 3, 'b': 6, 'c': '333'},
# Col_4: {'a': 4, 'b': 8, 'c': '4444'}}

{'Col_1': {'a': 1, 'b': 2, 'c': '1'},
 'Col_2': {'a': 2, 'b': 4, 'c': '22'},
 'Col_3': {'a': 3, 'b': 6, 'c': '333'},
 'Col_4': {'a': 4, 'b': 8, 'c': '4444'}}

In [2]:
df = pd.DataFrame(dict_use)
print(df)

# Print out should read:
#   Col_1 Col_2 Col_3 Col_4
# a     1     2     3     4
# b     2     4     6     8
# c     1    22   333  4444

  Col_1 Col_2 Col_3 Col_4
a     1     2     3     4
b     2     4     6     8
c     1    22   333  4444

## Actual Solution:

In [3]:
dict_actual = [{"key": "user_agent", "value": "X"},
               {"key": "language", "value": "en-US"},
               {"key": "color_depth","value": "24"}]

# what is the data format?
print(type(dict_actual))
# Output:
# <class 'list'>

<class 'list'>

In [4]:
df = pd.DataFrame(dict_actual).T
print(df)

# Output:
#                 0         1            2
# key    user_agent  language  color_depth
# value           X     en-US           24

                0         1            2
key    user_agent  language  color_depth
value           X     en-US           24

In [5]:
# Set the column labels to equal the values in the 1st row (index location 0):
df.columns = df.iloc[0]
df.reset_index(drop=True, inplace = True)

df = df.reindex(df.index.drop(0))
print(df)
# Ouput:
# key user_agent language color_depth
# 1            X    en-US          24

key user_agent language color_depth
1            X    en-US          24

In [6]:
df

key user_agent language color_depth
1            X    en-US          24